body{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("image/pic.jpg");
  width: 100%;
  background-size: 100%;
}
.text-main{
  text-align: center;
  font-size: 60px;
  font-weight: 400;
}
.settings{
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
.settings p,span{
  text-align: center;
  font-size:30px;
}
.settings button{
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  color: rgb(114, 250, 148);
}
.settings button:hover{
  color: rgb(48, 111, 247);
}
.clock{
  width: 250px;
  height: 250px;
  margin: auto;
  border: 3px solid rgb(34, 168, 57);
  border-radius: 20%;
  text-align: center;
padding-top: 70px;
}
.clock:hover{
  border-color: rgb(48, 111, 247);
}
.time-display{
  font-size: 80px;
  margin-top: 70px;
  display: inline;
}
.controls button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(108, 216, 93);
  outline: none;
  background: none;
  border-radius: 5px;
}
.controls button:hover{
  background-color:  rgb(48, 111, 247);
}
